@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Black.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-medium';
  src: url('./assets/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
   margin: 0;
  padding: 0;
}

/* Sélecteur pour enlever l'outline et le box-shadow */
.phone-input input:focus {
  outline: none !important;
  box-shadow: none !important;
}


@layer base {
    /* Start Custom styles for the modal scrollbar */
    .sidebar-scrollbar {
      scrollbar-width: none;
    }
  
    .sidebar-scrollbar::-webkit-scrollbar {
      display: none;
    }
  }

  @media print {
  /* On cache tout par défaut */
  body * {
    visibility: hidden;
  }
  /* On n'affiche que le badge et son contenu */
  #printable-badge, #printable-badge * {
    visibility: visible;
  }
  /* On positionne le badge en haut à gauche de la feuille */
  #printable-badge {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    border: none;
    box-shadow: none;
  }
}